{% extends 'base.html' %}

{% block content %}

    <h1>Log in to Get it Done!</h1>
    <h3>If you don't have an account, you can register <a href='/register'>here!</a></h3>
    <form action="/login" method="post">
        
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" value='{{email}}'/>
        
        <br>
        <label for="Password">Password:</label>
        <input id="Password" type="password" name="Password" />
        
        <br>
        <input class="submit" type="submit" value="Enter"/>
    </form>

{% endblock %}
